body{
  margin:0;
  font-family:Arial,sans-serif;
  background:#f5f7fb;
}

.navbar{
  background:#0d47a1;
  color:white;
  padding:18px;
  text-align:center;
  font-size:22px;
  font-weight:bold;
}

.app{
  max-width:1000px;
  margin:auto;
  padding:20px;
}

h1{
  text-align:center;
  color:#0d47a1;
}

h2{
  color:#0d47a1;
}

.search-bar input{
  width:100%;
  padding:12px;
  border:1px solid #ccc;
  border-radius:8px;
  font-size:16px;
  margin:15px 0;
  box-sizing:border-box;
}

.filter-bar select{
  width:100%;
  padding:12px;
  border-radius:8px;
  border:1px solid #ccc;
  margin-bottom:20px;
}

.featured-card{
  background:#0d47a1;
  color:white;
  padding:20px;
  border-radius:12px;
  margin-bottom:20px;
}

.job-card{
  background:white;
  padding:18px;
  border-radius:12px;
  margin-bottom:18px;
  box-shadow:0 3px 10px rgba(0,0,0,.1);
}

.job-card h2{
  margin:0;
}

.job-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.category{
  background:#1976d2;
  color:white;
  padding:5px 10px;
  border-radius:20px;
  font-size:13px;
}

.job-buttons{
  display:flex;
  gap:10px;
  margin-top:15px;
}

button{
  background:#0d47a1;
  color:white;
  border:none;
  padding:10px 16px;
  border-radius:8px;
  cursor:pointer;
}

button:hover{
  background:#1565c0;
}

.footer{
  margin-top:40px;
  text-align:center;
  background:#0d47a1;
  color:white;
  padding:20px;
  border-radius:12px;
}

@media(max-width:768px){

.job-header{
flex-direction:column;
align-items:flex-start;
gap:10px;
}

.job-buttons{
flex-direction:column;
}

button{
width:100%;
}

}
.new-badge{
background:red;
color:white;
padding:5px 10px;
border-radius:20px;
font-size:12px;
font-weight:bold;
}
